---
import { MISC } from "../config";
import DateTag from "./date-tag.astro";
import Tag from "./tag.astro";
import { uniqueLowerCaseTags } from "../scripts/utils";

const { post } = Astro.props;

function getDescription(content: string) {
  let moreMarkIndex = -1;
  for (let mark in MISC.more.marks) {
    let moreMarkIndex = content.indexOf(mark);
    if (moreMarkIndex != -1) break;
  }
  if (moreMarkIndex === -1) {
    return content.slice(0, MISC.more.limitWhenNoMark) + "...";
  }
  return content.slice(0, moreMarkIndex);
}

function getDateString() {
  const pubDate = post.data.date;
  const updatedDate = post.data.updated;
  return updatedDate ? updatedDate : pubDate;
}

const title = post.data.title;
const date = new Date(getDateString()).toISOString().slice(0, 10);
const tags = uniqueLowerCaseTags(post.data.tags);
const href = `/posts/${post.slug}`;
const description = getDescription(post.body);
---

<a
  class="block p-4 cursor-pointer bg-current/20 hover:bg-current transition"
  href={href}
>
  <article>
    <h2>{title}</h2>
    <div class="flex flex-wrap gap-2 mt-1">
      <DateTag date={date} />
      {tags.map((tag: string) => <Tag tag={tag} />)}
    </div>
    <p class="mt-1">{description}</p>
  </article>
</a>
