---
import DateTag from "./date-tag.tsx";
import LabelTag from "./label-tag.tsx";
import { getUniqueLowerCaseTagMap } from "../scripts/utils";
import { render } from "astro:content";

const { post } = Astro.props;

function getDateString() {
  const pubDate = post.data.date;
  const updatedDate = post.data.updated;
  return updatedDate || pubDate;
}

const title = post.data.title;
const date = new Date(getDateString()).toISOString().slice(0, 10);
const tags = getUniqueLowerCaseTagMap(post.data.tags);
const href = `/posts/${post.slug}`;

const { remarkPluginFrontmatter } = await render(post);
---

<a
  href={href}
  class="p-8 bg-dracula-dark/20 hover:bg-dracula-dark transition cursor-pointer text-pretty flex flex-col gap-4"
>
  <h2 class="font-bold text-3xl text-dracula-pink">{title}</h2>
  <div class="flex flex-wrap gap-2">
    <DateTag date={date} />
    {Array.from(tags.keys()).map((tag) => <LabelTag label={tag} />)}
  </div>
  <p class="overflow-ellipsis break-all line-clamp-3">
    {remarkPluginFrontmatter.desc}
  </p>
</a>
