---
import { ViewTransitions } from "astro:transitions";

import "@/styles/global.css";
import "@/styles/mathjax.css";
import "@/styles/rehype-github-alerts.css";
import Favicon from "@/components/head/favicon.astro";
import Meta from "@/components/head/meta.astro";
import Header from "@/components/ui/header.astro";

import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@/utils/i18n";
import { SITE } from "@/config";

const { title, description } = Astro.props;
const [lang] = getLangFromUrl(Astro.url.pathname);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const pageTitle = title
  ? `${title} | ${SITE.title[lang]}`
  : `${SITE.title[lang]} | ${SITE.description[lang]}`;
---

<html lang={lang} class="scroll-smooth">
  <head>
    <Meta lang={lang} description={description} pageTitle={pageTitle} />
    <Favicon />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={SITE.title[lang]}
      href={new URL("rss.xml", SITE.url)}
    />
    <script
      is:inline
      type="text/partytown"
      src="https://cloud.umami.is/script.js"
      data-website-id={SITE.analytics.umami.id}></script>
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body
    class="bg-dracula-darker text-dracula-light mx-4 md:mx-auto max-w-3xl py-12"
  >
    <Header lang={lang} />
    <main>
      <slot />
    </main>
    <footer class="mt-14 flex flex-col items-center gap-2 w-full">
      <p class="text-lg">
        {SITE.title[lang]}
      </p>
      <p class="text-sm">
        Powered by
        <a
          href="https://astro.build/"
          target="_blank"
          rel="nofollow"
          class="hover:text-dracula-pink transition">Astro</a
        >
        {" & "}
        <a
          href="https://github.com/BlockLune/astro-dracula-blog/"
          target="_blank"
          rel="nofollow"
          class="hover:text-dracula-pink transition">AstroDraculaBlog</a
        >
      </p>
    </footer>
  </body>
</html>
