---
import "../styles/global.css";
import "../styles/rehype-github-alerts.css";
import Moon from "../components/icons/moon.astro";
import Rss from "../components/icons/rss.astro";
import { SITE } from "../config";

const { title } = Astro.props;
const pageTitle = title
  ? `${title} | ${SITE.title}`
  : `${SITE.title} | ${SITE.description}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={SITE.title}
      href={new URL("rss.xml", SITE.url)}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE.description} />
    <script
      is:inline
      type="text/partytown"
      src="https://cloud.umami.is/script.js"
      data-website-id={import.meta.env.UMAMI_DATA_WEBSITE_ID}></script>
    <title>{pageTitle}</title>
  </head>
  <body
    class="bg-dracula-darker text-dracula-light mx-4 md:mx-auto max-w-3xl py-12"
  >
    <header
      class="mb-14 flex flex-col gap-2 justify-center md:flex-row md:justify-between md:items-center"
    >
      <div class="flex gap-2 itmes-center justify-center">
        <a
          href="/"
          class="flex items-center justify-center md:justify-start gap-2 font-black text-2xl
          text-dracula-light hover:text-dracula-pink transition"
        >
          <Moon />
          <h1 class="font-black text-2xl">
            {SITE.title}
          </h1>
        </a>
        <a
          href="/rss.xml"
          class="hover:text-dracula-orange transition"
          aria-label="RSS Feed"
        >
          <Rss class="w-6 h-6" />
        </a>
      </div>
      <div
        class="flex justify-center md:justify-end items-center gap-4 text-dracula-light
        underline underline-offset-4"
      >
        <a class="hover:text-dracula-pink transition" href="/">Home</a>
        <a class="hover:text-dracula-pink transition" href="/tags">Tags</a>
        <a class="hover:text-dracula-pink transition" href="/about">About</a>
      </div>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
