---
import "../styles/global.css";
import Moon from "../components/moon.astro";
import { SITE } from "../config";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE.description} />
    <title>{SITE.title} | {SITE.description}</title>
  </head>
  <body class="bg-background text-foreground mx-auto max-w-3xl py-12">
    <header class="mb-14 flex justify-between items-center">
      <a
        href="/"
        class="flex items-center gap-2 font-black text-2xl text-foreground"
      >
        <Moon />
        <h1 class="font-black text-2xl text-foreground">
          {SITE.title}
        </h1>
      </a>
      <div
        class="flex items-center gap-4 underline underline-offset-4 text-comment"
      >
        <a class="hover:text-foreground transition" href="/">Home</a>
        <a class="hover:text-foreground transition" href="/tags">Tags</a>
        <a class="hover:text-foreground transition" href="/about">About</a>
      </div>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
