---
import "../styles/global.css";
import { SITE, AUTHOR } from "../config";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE.description} />
    <title>{SITE.title} | {SITE.description}</title>
  </head>
  <body class="bg-background text-foreground mx-auto max-w-3xl py-12">
    <header class="mb-14 flex place-content-between px-5">
      <a href="/">
        <h1 class="font-black text-2xl text-foreground">
          {SITE.title}
        </h1>
      </a>
      <p class="italic">
        by
        <a href={AUTHOR.link} target="_blank" rel="noopener noreferrer">
          {AUTHOR.name}
        </a>
      </p>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
