---
import "../styles/global.css";
import Moon from "../components/moon.astro";
import { SITE } from "../config";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE.description} />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id={import.meta.env.UMAMI_DATA_WEBSITE_ID}></script>
    <title>{SITE.title} | {SITE.description}</title>
  </head>
  <body
    class="bg-dracula-darker text-dracula-light mx-4 md:mx-auto max-w-3xl py-12"
  >
    <header
      class="mb-14 flex flex-col gap-2 justify-center md:flex-row md:justify-between md:items-center"
    >
      <a
        href="/"
        class="flex items-center justify-center md:justify-start gap-2 font-black text-2xl text-dracula-light"
      >
        <Moon />
        <h1 class="font-black text-2xl text-dracula-light">
          {SITE.title}
        </h1>
      </a>
      <div
        class="flex justify-center md:justify-end items-center gap-4 underline underline-offset-4 text-dracula-blue"
      >
        <a class="hover:text-dracula-light transition" href="/">Home</a>
        <a class="hover:text-dracula-light transition" href="/tags">Tags</a>
        <a class="hover:text-dracula-light transition" href="/about">About</a>
      </div>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
