---
import { ClientRouter } from "astro:transitions";

import "@/styles/global.css";
import "@/styles/mathjax.css";
import "@/styles/rehype-github-alerts.css";

import Favicon from "@/components/head/favicon.astro";
import Meta from "@/components/head/meta.astro";
import Umami from "@/components/head/umami.astro";
import RssLink from "@/components/head/rss-link.astro";
import Sitemap from "@/components/head/sitemap.astro";

import Header from "@/components/ui/header.astro";
import Footer from "@/components/ui/footer.astro";

import { getLangFromUrl } from "@/utils/i18n";
import { SITE } from "@/config";

const { title, description, ogImageUrl } = Astro.props;
const [lang] = getLangFromUrl(Astro.url.pathname);
const pageTitle = title
  ? `${title} | ${SITE.title[lang]}`
  : `${SITE.title[lang]} | ${SITE.description[lang]}`;
---

<html lang={lang} class="scroll-smooth">
  <head>
    <Meta
      lang={lang}
      description={description}
      pageTitle={pageTitle}
      ogImageUrl={ogImageUrl}
    />
    <Favicon />
    <Sitemap />
    <RssLink lang={lang} />
    <Umami />
    <title>{pageTitle}</title>
    <ClientRouter />
  </head>
  <body
    class="bg-dracula-darker text-dracula-light mx-4 md:mx-auto max-w-3xl py-12"
  >
    <Header lang={lang} />
    <main>
      <slot />
    </main>
    <Footer lang={lang} />
  </body>
</html>
